@model Nop.Plugin.Widgets.DunderMifflinManagers.Models.WidgetConfiguration
@{
    Layout = "";

    //Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.NivoSlider/Scripts/jquery.nivo.slider.js");
    Html.AddCssFileParts($"{Nop.Plugin.Widgets.DunderMifflinManagers.Models.DunderMiffilnConstants.StyleSheetsPlugginPath}/dundertheme.css");
}

<div class="dunder-container">
    <div class="dunder-center">
        <h1>@Model.ManagerName @T("Plugins.Widgets.DunderMifflinManagers.MessageOfManager") </h1>
        <h2>@Model.ManagerAssistantName @T("Plugins.Widgets.DunderMifflinManagers.MessageOfManagerAsstant")</h2>
        <h3>@Model.AssistantOfManagerAssistantName @T("Plugins.Widgets.DunderMifflinManagers.MessageOfAssistantOfManagerAssistant") </h3>
    </div>
</div>

